$brand-color: #301436;

$secondary-brand-color: #000;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 80%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
